<div class=" p-4 md:px-3 lg:px-4">
  <div class="surface-card px-5 py-3 shadow-2 border-round">
    <div class="p-4">
      <app-upload-image></app-upload-image>
    </div>
    <div class="grid formgrid p-fluid">
      <div class="field mb-4 col-12">
        <label for="nickname2" class="font-medium text-900">R.U.C</label>
        <input id="nickname2" type="text" pInputText>
      </div>
      <div class="field mb-4 col-12">
        <label for="bio2" class="font-medium text-900">Descripción</label>
        <textarea id="bio2" type="text" pInputTextarea rows="5" [autoResize]="true"></textarea>
      </div>
      <div class="surface-border border-top-1 opacity-50 mb-3 col-12"></div>
      <div class="field mb-4 col-12 md:col-6">
        <label for="email2" class="font-medium text-900">Email</label>
        <input id="email2" type="text" pInputText>
      </div>
      <div class="field mb-4 col-12 md:col-6">
        <label for="country2" class="font-medium text-900">Pais</label>
        <p-dropdown inputId="country2" [options]="countries" optionLabel="name" [filter]="true"
                    filterBy="name" [showClear]="true">
          <ng-template let-country pTemplate="item">
            <div class="flex align-items-center">
              <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                   [class]="'mr-2 flag flag-' + country.code.toLowerCase()" style="width:18px"/>
              <div>{{ country.name }}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
      <div class="field mb-4 col-12 md:col-6">
        <label for="city2" class="font-medium text-900">Ciudad</label>
        <input id="city2" type="text" pInputText>
      </div>
      <div class="field mb-4 col-12 md:col-6">
        <label for="state2" class="font-medium text-900">Dirección</label>
        <input id="state2" type="text" pInputText>
      </div>
      <div class="surface-border border-top-1 opacity-50 mb-3 col-12"></div>
      <div class="field mb-4 col-12">
        <label for="website2" class="font-medium text-900">Página Web</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">www</span>
          <input id="website2" type="text" pInputText placeholder="www.tutiendaonline.com">
        </div>
      </div>
      <div class="surface-border border-top-1 opacity-50 mb-3 col-12"></div>
      <div class="col-12 flex flex-row justify-content-end align-items-end lg:align-content-end ">
        <button pButton pRipple label="Guardar" class="w-auto mt-3"></button>
        <ng-container *ngIf="!hasStore;">
          <app-dialog-add-store></app-dialog-add-store>
        </ng-container>
      </div>

    </div>
  </div>
</div>
